@model IEnumerable<Supplier>

@*\theme\templates\admin*@
@*table_basic.html -> Simple Table*@

@{
    ViewData["Title"] = "SupplierIndex";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}


<div class="row" style="margin-top:80px;">

    <div class="col-md-2 col-lg-2 col-sm-12 col-xs-12"></div>
    <div class="col-md-8 col-lg-8 col-sm-12 col-xs-12">

        <p>
            <a asp-action="SupplierCreate" asp-controller="Admin" class="btn btn-success">YENİ MARKA</a>
        </p>

        <!-- BEGIN SAMPLE TABLE PORTLET-->
        <div class="portlet box red">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-cogs"></i>MARKA LİSTESİ
                </div>
            </div>
            <div class="portlet-body">
                <div class="table-scrollable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.SupplierID)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BrandName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PhotoPath)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Active)
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(model => item.SupplierID)
                                    </td>

                                    <td>
                                        <span style="background-color:black;color:white;font-size:20px;">
                                            @Html.DisplayFor(model => item.BrandName)
                                        </span>
                                    </td>

                                    <td>
                                        <img src="~/resimler/@item.PhotoPath" height="35" width="60" />
                                    </td>

                                    <td>
                                        @if (item.Active)
                                        {
                                            <label style="background-color:green;color:white;">AKTİF</label>
                                        }
                                        else
                                        {
                                            <label style="background-color:red;color:white;">PASİF</label>
                                        }
                                    </td>

                                    <td>
                                        <a asp-action="SupplierEdit" asp-route-id="@item.SupplierID" class="btn btn-primary">DÜZELT</a>
                                        <a asp-action="SupplierDetails" asp-route-id="@item.SupplierID" class="btn btn-info">DETAY</a>
                                        <a asp-action="SupplierDelete" asp-route-id="@item.SupplierID" class="btn btn-danger">SİL</a>
                                    </td>
                                </tr>
                            } 

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- END SAMPLE TABLE PORTLET-->
    </div>
</div>


@*bootstrap*@

